body{
	background-color: gray;
	height: 100%;
	width: 100%;
}
#fundo{
	background-color: gray;
	height: 660px;
	width: 660px;
	margin: 0 auto ;
	

}
.quadrado{
	display: inline-block;	
	background-color: white ;
	height: 200px;
	width: 200px;
}
#linha{
	height: 5px;
	background-color: white;

}
img{
	height: 200px;
	width: 200px;
}
#msg{
	/* padding: 10px 50px; */
	background-color: rgba(45, 175, 99, 0.5);
	border: solid 1px #460000;
	border-radius: 5px;
	width: 300px;
	/* position: fixed; */
	/* float:center;*/
	top:42%; 
	left: 37.5%; 

	position: absolute; 
	margin: 0 auto;
	text-align: center;
	display: block;
}