body{
	text-align:center;
	background-color: gray;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#fundo{
	z-index:200;
	position: relative;
	filter: blur(5px);
	background-color: gray;
	height: 660px;
	width: 660px;
	margin: 0 auto ;	

}
.quadrado{
	display: inline-block;	
	background-color: white ;
	height: 200px;
	width: 200px;
}
#linha{
	height: 5px;
	background-color: white;

}
img{
	height: 200px;
	width: 200px;
}
#inserenome1{
	z-index:1000;
	background-color: gray;
	border: solid 1px #460000;
	border-radius: 5px;
	width: 300px;
	height: 100px;
	position: absolute; 
	margin: 0 auto;
	text-align: center;
	display: none;
}
#inserenome2{
	z-index:1000;
	background-color: gray;
	border: solid 1px #460000;
	border-radius: 5px;
	width: 300px;
	height: 200px;
	position: absolute; 
	margin: 0 auto;
	text-align: center;
	display: none;
}
#menu1,#menu2{
   z-index:1000;
   background-color: gray;
   border: solid 1px #460000;
   border-radius: 5px;
   width: 300px;
   height: 100px;
   position: absolute; 
   padding-top:20px;
   margin: 0 auto;
   text-align: center;
   display: block;
}
.botao{
	background: white;
}
#nome1,#nome2,.botao{
	border-radius: 10px;
	border-style: none;
	width: 250px;
	height: 30px;
	margin: 5px 0px;
}
#reset{
   z-index:1000;
   background-color: gray;
   border: solid 1px #460000;
   border-radius: 5px;
   width: 100px;
   height: 100px;
   margin-top: 100px;
   position: absolute; 
   margin: 0 auto;
   text-align: center;
   display: none;
}
#botaoreset{
	border-radius: 10px;
	border-style: none;
	width: 250px;
	height: 30px;
	margin-top: 30px;
	background: white;
}
#reset{
	width: 300px;
}