body{
	text-align:center;
	background-color: gray;
	height: 100%;
	width: 100%;
}
#fundo{
	/* -webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px); */
	filter: blur(5px);
	background-color: gray;
	height: 660px;
	width: 660px;
	margin: 0 auto ;	

}
.quadrado{
	display: inline-block;	
	background-color: white ;
	height: 200px;
	width: 200px;
}
#linha{
	height: 5px;
	background-color: white;

}
img{
	height: 200px;
	width: 200px;
}
#msg{
	 /* position: absolute;
  top: 50%;  
  margin-top: -25px;   
  left: 50%; 
  margin-left: -100px;  
	padding-top: 50px; */
	/* padding: 10px 50px; */
	background-color: rgba(45, 175, 99);
	border: solid 1px #460000;
	border-radius: 5px;
	width: 300px;
	height: 200px;
	/* top:42%; 
	left: 37.5%;  */
	position: absolute; 
	margin: 0 auto;
	text-align: center;
	display: none;
}
#menu1{
	/* position: absolute;
 top: 50%;  
 margin-top: -25px;   
 left: 50%; 
 margin-left: -100px;  
   padding-top: 50px; */
   /* padding: 10px 50px; */
   background-color: rgba(45, 175, 99);
   border: solid 1px #460000;
   border-radius: 5px;
   width: 300px;
   height: 200px;
   /* top:42%; 
   left: 37.5%;  */
   position: absolute; 
   margin: 0 auto;
   text-align: center;
   display: block;
}
#nome1,#nome2,#botao{
	border-radius: 10px;
	border-style: none;
	width: 250px;
	height: 30px;
	margin: 5px 0px;
}
